.nav {
    display: flex;
    justify-content: space-between;
    padding: .6em 0;
    align-items: center;
    background-color: #087a65; 
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.enlaces{
    position: relative;
    text-decoration: none;
    color: white;
}

.enlaces::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(42, 203, 224); /* Cambia esto al color que desees */
    transition: width 0.3s;
}

.enlaces:hover::after{
    width: 100%
}