.main {
    background: #ffffff;
}

.contenedorPrincipal {
    width: 100%;
    height: 100vh;
    /* Ajusta la altura del contenedor principal */
    overflow: hidden;
    /* Para asegurar que no haya scrollbars */
}

/* --------------------- NAVBAR --------------------- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    /* Cambiado de sticky a fixed */
    width: 100%;
    z-index: 1000;
    top: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.enlaces {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.enlaces::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    /* Cambia esto al color que desees */
    transition: width 0.3s;
}

.enlaces:hover::after {
    width: 100%
}

/* --------------------- PORTADA --------------------- */

.contenedorPortada {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    /* Resta el tamaño del navbar fijo */
    display: flex;
    align-items: center;
    margin-top: 70px;
    overflow: hidden;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.contentPortada {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.portadaImagen {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tituloPortada {
    color: white;
    font-size: 2rem;
    letter-spacing: .1rem;
}

.parrafoPortada {
    margin-top: 1rem;
    color: white;
    font-size: 1.2rem;
    width: 450px
}

.botonPortada {
    background: linear-gradient(to right, #5e7986, #007bff);
    /* Fondo inicial: celeste a azul */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.8s;
    /* Transición suave */
    position: relative;
    margin-top: 1rem;

}

/* Estilo de fondo al pasar el cursor */
.botonPortada:hover {
    background: linear-gradient(to right, #66ccff, #007bff);
    /* Color inicial: celeste a azul */
    background-size: 200% 100%;
    /* Tamaño del gradiente */
    animation: cambioColor 1s linear infinite;
    /* Animación de gradiente */
}

/* Definición de la animación */
@keyframes cambioColor {
    0% {
        background-position: 100% 0;
        /* Inicio de la animación: completamente a la izquierda */
    }

    100% {
        background-position: -100% 0;
        /* Final de la animación: completamente a la derecha */
    }
}
/* --------------------- ANIMACION --------------------- */

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}
/* --------------------- NOSOTROS --------------------- */
.contenedorSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show;

    animation-range: entry 25% cover 60%;
    animation-fill-mode: both;
}

.titulosSomos {
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 1rem;

}

.sectionNosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    position: relative;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
}

.imagenSomos {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.7);
    background-color: #88dbf0;
}

.cardBody {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
    color: aliceblue;
}

.card:hover .cardBody {
    left: 0;
}

.titulo1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    letter-spacing: 3px;
    font-weight: 500;
}

.cardInfo {
    font-size: 1rem;
    padding: 0 1rem;
}


.articulo {
    width: 55%;
    padding: 0.4rem 3rem;
    border-radius: 0 1rem 1rem 0;
}

.titulo {
    font-size: 2rem;
    text-align: center;
}


.parrafo {
    margin-bottom: 1rem;
    text-align: left;
}

.contenedorPadre{
    display: flex;
    flex-direction: column;
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
}

.divContenedor {
    width: 100%;
    margin-top: 8rem;
}

.tit {
    text-align: center;
    font-weight: normal;
}

.parraf {
    text-align: center;
    margin-top: 1rem;
}

.niños {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.centeredVertical {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
}

.fullHeight {
    display: flex;
    align-items: center;
    height: 412px;
    width: 30%;
}

.dosImagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    height: 100%;
    width: 20%;
}

/* --------------------- IMAGENES --------------------- */
.imagenUno {
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem;
}

.imagenDos {
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem;
}

.imagenTres {
    width: 100%;
    height: 200px;
    border-radius: .5rem .5rem;
}

.imagenCuatro {
    width: 100%;
    height: 200px;
    border-radius: .5rem .5rem;
}



/* ------------------ APARTADO DE OBJETIVOS, VISION Y MISION ------------------ */
.contenedorMaestro {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show;

    animation-range: entry 3% cover 60%;
    animation-fill-mode: both;
}

.textoPri {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300
}

.parrafoPri {
    text-align: center;
    margin-top: .5rem;
}

.objetivos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2rem;
    margin-inline: auto;
    gap: 2rem;
    width: 90%;
}

.informacion {
    width: 30%;
    padding-bottom: 3rem;
    margin: 0 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 4rem;
    background: #fdfdfd;
    border-radius: 0 0 1rem .4rem;
}

.encabezado {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5em;
    font-weight: normal;
}

.imagenes {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
}

.imagenContainer {
    overflow: hidden;
    /* Asegura que la imagen no se salga de su contenedor */
    display: flex;
    justify-content: center;
}

.imagenContainer:hover .imagenes {
    transform: scale(1.1);
    transition: transform 0.5s ease
}

/* ------------------ APARTADO DE TALLERES ------------------ */

.talleres {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 85%;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show;

    animation-range: entry 3% cover 50%;
    animation-fill-mode: both;
}

.contenido {
    width: 30%;
}

.info {
    margin-top: 1rem;
    text-align: left;
}

.galeria {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contenidoTaller {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.logo1 {
    margin-top: 1rem;
}

.articulo1 {
    width: 40%;
    border-radius: 0 0 4rem 0;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
    background: #89c2e7;
}


.articulo2 {
    width: 40%;
    border-radius: 0 0 0 4rem;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.5);
    background: #1eabd6;
}

.articulo3 {
    width: 40%;
    border-radius: 0 4rem 0 0;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.5);
    background: #1eabd6;
}

.articulo4 {
    width: 40%;
    border-radius: 4rem 0 0 0;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: -1px -2px 10px 0 rgba(0, 0, 0, 0.5);
    background: #89c2e7;
}

.tituloTaller {
    margin: 1rem 0;
}

.text {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}

.muestra {
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    margin-left: 5rem;
}

/* ------------------ APARTADO DE DONACIONES     ------------------ */

.containerPrincipal {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    height: 100vh;
    width: 90%;
    margin-inline: auto;
    view-timeline-name: --seccion;
    view-timeline-axis: block;

    animation-timeline: --seccion;
    animation-name: show;

    animation-range: entry 3% cover 60%;
    animation-fill-mode: both;
}

.contenedorArticulos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 2rem;
    margin-top: 4rem;
}

.articulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 1rem;
    padding: 3rem 0;
    transition: background-color .4s ease;
    /* Aplicar la transición al cambio de color de fondo */
}

.articulos:hover {
    background-color: #1eabd6;
    /* Cambia el color de fondo al azul al pasar el mouse */
}