.main {
    background: #f8f5ee;
    padding-top: 3rem;
}

.fondo {
    width: 100%;
    height: 85vh;
}

.divContenedor {
    width: 100%;
    
}

.tit {
    text-align: center;
}

.parraf{
    text-align: center;
    margin-top: 1rem;
}

.boton{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 1rem;
   
}

.estilo{
    background-color: bisque;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem 0.5rem;
}

.estilo:hover{
    cursor: pointer;
}

.niños {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.centeredVertical {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
}

.fullHeight {
    display: flex;
    align-items: center;
    height: 412px;
    width: 30%;
}

.dosImagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    height: 100%;
    width: 20%;
}

/* --------------------- IMAGENES --------------------- */
.imagenUno{
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem;
}

.imagenDos{
    width: 100%;
    height: 100%;
    border-radius: .5rem .5rem;
}

.imagenTres{
    width: 100%;
    height: 200px;
    border-radius: .5rem .5rem;
}

.imagenCuatro{
    width: 100%;
    height: 200px;
    border-radius: .5rem .5rem;
}

.seccion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 90%;
    margin-inline: auto;
    padding: 2rem;
    height: 100vh;
}

.imagen {
    width: 100%;
    border-radius: 1rem 1rem;
}

.imagenContenedor {
    overflow: hidden;
    /* Asegura que la imagen no se salga de su contenedor */
    display: flex;
    justify-content: center;
}

.imagenContenedor:hover .imagen {
    transform: scale(1.1);
    transition: transform 0.5s ease
}


.articulo {
    width: 55%;
    padding: 0.4rem 3rem;
    border-radius: 0 1rem 1rem 0;
}

.titulo {
    font-size: 2rem;
    text-align: center;
}

.titulo1 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 3px;
}

.parrafo {
    margin-bottom: 1rem;
    text-align: left;
}


/* ------------------ APARTADO DE OBJETIVOS, VISION Y MISION ------------------ */
.objetivos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    margin-inline: auto;
    gap: 2rem;
    width: 90%;
}

.informacion {
    width: 30%;
    height: 550px;
    margin: 0 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 4rem;
}

.encabezado {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5em;
    font-weight: normal;
}

.imagenes {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
}

.imagenContainer {
    overflow: hidden;
    /* Asegura que la imagen no se salga de su contenedor */
    display: flex;
    justify-content: center;
}

.imagenContainer:hover .imagenes {
    transform: scale(1.1);
    transition: transform 0.5s ease
}

/* ------------------ APARTADO DE TALLERES ------------------ */

.talleres {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-inline: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenido {
    width: 60%;
}

.info {
    margin-top: 1rem;
}

.galeria {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}

.muestra {
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    margin-left: 5rem;
}